/*the map*/
#map {
        height: 100%;
        width: 100%;
        z-index:-1;
        position: static !important;
        overflow: visible;
}
/*mainly text, body*/
body {
  font-family: 'Montserrat';
  text-align: center;
}
/*the 3 dot menu*/
#menu{
  position: fixed;
  width: 30px;
  height: 30px;
  right:30px;
  top: 35px;
  z-index: 2;
}
/*search iconp*/
#search {
position: fixed; 
width: 30px;
height: 30px;
left: 35px;
top: 35px;
z-index: 2;
}
#navbutton {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 10%;
        background-color: #000000;
        z-index: 2;
        border-radius: 300px;
        margin: 0 auto;
}
/*entire overlay set*/
.overlay {
   height: 100%;
   width: 100%;
   display: none;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: white;
}
/*the about and submit text*/
.overlay-content {
  position: fixed;
   margin-top: 30px;
   right: 10%;
   z-index: 2;
   font-family: 'Montserrat';
}
/*each separate about and submit*/
#ele {
   padding: 8px, 8px, 8px,8px;
   font-size: 14px;
   text-decoration: none;
   color: #000000;
   display: block;
   transition: 0.3s;
   background-color: #ffffff;
   margin-bottom: 10px;
   right: 8px;
}
/* the x icon*/
.overlay a{

  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #000000;
  display: block;
  transition: 0.3s;
  padding: 10px;
}
/*the x icon*/
.overlay .closebtn {
   position: none;
   top: 20px;
   right: 50px;
   font-size: 60px;
}
/*animation*/
@media screen and (max-height: 450px) {
 .overlay a {font-size: 20px}
 .overlay .closebtn {
   font-size: 40px;
   top: 15px;
   right: 35px;
 }
}
