h1
{
  font-family: Montserrat;
  text-align: center;
  font-size: 250%
}
#frm1{
  font-family: Montserrat;
  font-size: 250%;
}
input[type=submit] {
    width: 100%;
    background-color: #D0DDE8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 100%;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]:hover {
    background-color: #C7D3DD;
}
