body
{
  font-family: Montserrat;
}
h1
{
  font-family: Montserrat;
  text-align: center;
  font-size: 200%
}
#frm1{
  font-family: Montserrat;
  font-size: 200%;
}
input[type=submit] {
    width: 100%;
    background-color: #D0DDE8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 100%;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]:hover {
    background-color: #C7D3DD;
}
/*the 3 dot menu*/
#menu{
  position: fixed;
  width: 30px;
  height: 30px;
  right:30px;
  top: 35px;
  z-index: 2;
}
/*entire overlay set*/
.overlay {
   height: 100%;
   width: 100%;
   display: none;
   position: fixed;
   z-index: 5;
   top: 0;
   left: 0;
   background-color: white;
}
/*the about and submit text*/
.overlay-content {
  position: fixed;
   margin-top: 6%;
   right: 10%;
   z-index: 6;
   font-family: 'Montserrat';
}
/*each separate about and submit*/
#ele {
   padding: 8px, 8px, 8px,8px;
   font-size: 14px;
   text-decoration: none;
   color: #000000;
   display: block;
   transition: 0.3s;
   background-color: #ffffff;
   margin-bottom: 10px;
   right: 8px;
}
/* the x icon*/
.overlay a{

  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #000000;
  display: block;
  transition: 0.3s;
  padding: 10px;
  right: 5px
}
/*the x icon*/
.overlay .closebtn {
   position: absolute;
   z-index: 7;
   margin-bottom: 20px;
   top: 20px;
   right: 50px;
   font-size: 50px;
}
/*animation*/
@media screen and (max-height: 450px) {
 .overlay a {font-size: 20px}
 .overlay .closebtn {
   font-size: 40px;
   top: 15px;
   right: 35px;
 }
}
